openapi: 3.1.0

# ---------------------------------------------------------------------------
# 몰라몰라 REST API
#
# 이 문서는 `docs/features/*.md` 27개 화면 문서의 기능 표를 근거로 도출했다.
# 각 오퍼레이션의 `x-screens` 가 그 엔드포인트를 필요로 하는 화면 문서를 가리키고,
# `x-screen-status` 가 그 화면 기능의 현재 상태(✅ 동작 / 🟡 샘플 데이터 / 🚧 껍데기)를 나타낸다.
#
# 설계 판단(왜 이렇게 나눴는지, 서버 필터 vs 클라이언트 필터, 검색 동작 등)은
# `docs/api/README.md` 에 있다. 이 파일은 계약(contract)만 담는다.
#
# 저장 구조와 1:1로 맞추지 않았다. 응답은 화면이 필요한 형태를 기준으로 정했고,
# DB 스키마(`docs/database/`)와의 정렬은 별도로 진행된다.
# ---------------------------------------------------------------------------

info:
  title: 몰라몰라 API
  version: 1.0.0
  summary: 치과 시술 비교·상담 신청 서비스의 백엔드 API
  description: |
    ## 공통 규약

    - **필드명**: 응답·요청 본문 모두 `camelCase`. 프론트엔드 `frontend/src/types/domain.ts` 와 일치한다.
    - **금액**: 정수(원). 소수점·통화기호·쉼표 없음.
    - **시각**: UTC ISO-8601 문자열 (`2026-08-12T09:30:00.000Z`). `format: date-time`.
    - **날짜만**: 일부 필드는 의도적으로 날짜만 담는다 (`format: date`, `2026-08-12`).
      `Review.createdAt`, `QAPost.createdAt`, `QAAnswer.createdAt`, `GuideContent.createdAt`,
      `Hospital.sponsoredStartDate`, `Hospital.sponsoredEndDate`.
      기존 도메인 타입을 보존하기 위한 것이며, 신규 필드는 전부 `date-time` 을 쓴다.
    - **"이번 달" 같은 달력 경계**: 서버가 `Asia/Seoul` 기준으로 계산한다. 응답 시각은 여전히 UTC 다.
    - **인증**: JWT Bearer. 액세스/리프레시 토큰이며 세션 쿠키를 쓰지 않는다 (`mobile/` 의 Flutter 앱이 같은 API 를 쓴다).
    - **인가**: `user` / `hospital_admin` / `operator` 세 역할 (`docs/decisions/0001-roles-and-pii.md` 확정).
      `hospital_admin` 은 **담당 병원**(`managedHospitalIds`)에만 접근한다. `operator` 는 전 병원 + 전문의 인증 검수 + 병원 생성 + 담당자 지정.
    - **개인정보 마스킹**: 상담 신청자의 이름·연락처는 **담당 병원의 `hospital_admin` 에게만 전체 값**으로 내려간다.
      `operator` 에게는 마스킹된 값(`박*영`, `010-****-5678`)이 내려가고 `piiMasked: true` 가 함께 온다.
    - **감사 로그**: 담당 병원 관리자가 상담 상세를 열람하면 서버가 열람 기록을 남긴다 (§감사 로그).
    - **페이지네이션**: offset 방식 (`page`, `pageSize`) + `PageMeta`. 화면이 `총 11곳` 처럼 전체 건수를 표시하므로 총계가 필요하다.
    - **에러 본문**: 모든 4xx/5xx 가 `Error` 스키마 하나를 쓴다. `error.message` 는 사용자에게 그대로 보여줄 수 있는 한국어 문구다.

    ## 이 스펙이 고치는 확인된 결함

    | 결함 | 해결 엔드포인트 |
    |---|---|
    | 관리자 화면에 인가가 전혀 없다 | `hospital_admin` / `operator` 역할 + 담당 병원 검사 (모든 `x-role` 오퍼레이션) |
    | 병원 관리자가 남의 병원 전문의를 심사할 수 있다 | 검수를 `operator` 전용으로 (`GET /doctors/verification-queue`, `PUT /doctors/{id}/verification`) |
    | 아무나 병원을 만들 수 있다 | `POST /hospitals` 를 `operator` 전용으로. 입점 문의 심사가 선행 |
    | 운영자가 고객 실명·전화번호를 볼 필요가 없는데 보인다 | 상담 응답의 PII 마스킹 투영 (`piiMasked`) |
    | 사용자가 자기 상담 신청 내역을 볼 수 없다 | `GET /me/consult-requests` |
    | 전문의 지정 상담이 전달되지 않는다 | `POST /consult-requests` 의 `doctorId` |
    | 찜 목록이 브라우저 전역이라 계정 간 유출 | `GET/PUT/DELETE /me/favorites` |
    | 알림이 계정별로 나뉘지 않는다 | `GET /notifications` (토큰 주체로 스코프) |
    | 커뮤니티 답변을 쓸 수 없다 | `POST /community/posts/{postId}/answers` |
    | 전문의 인증 검수 결과가 병원에 통보되지 않는다 | `PUT /doctors/{doctorId}/verification` 의 부수효과 |
    | 상담 마감 병원에 직접 주소로 접수된다 | `POST /consult-requests` → `409 CONSULT_CLOSED` |
    | 카카오 REST 키가 브라우저에 노출된다 | `GET /geo/address-search` (서버 경유) |
  contact:
    name: 몰라몰라 개발팀
    email: dev@molamola.kr
  license:
    name: UNLICENSED

servers:
  - url: https://api.molamola.kr/api/v1
    description: 운영
  - url: https://api-staging.molamola.kr/api/v1
    description: 스테이징
  - url: http://localhost:3000/api/v1
    description: 로컬 (NestJS). `GET /health` 는 이 base URL **밖**이다 (컨테이너 프로브용)

tags:
  - name: auth
    description: 회원가입·로그인·토큰 재발급·내 정보
  - name: procedures
    description: 시술 마스터 데이터 (13종)
  - name: hospitals
    description: 병원 조회·등록·수정
  - name: doctors
    description: 전문의 조회·수정·인증 검수
  - name: consult-requests
    description: 상담 신청 (사용자 접수 / 관리자 처리)
  - name: favorites
    description: 계정별 찜 목록
  - name: notifications
    description: 알림함 (사용자용 / 관리자용)
  - name: community
    description: 커뮤니티 질문·답변
  - name: content
    description: 시술 꿀팁·이벤트(프로모션)·약관 등 편집 콘텐츠
  - name: search
    description: 검색·인기 검색어·추천(광고) 검색어
  - name: geo
    description: 주소 검색 (카카오 로컬 API 서버 프록시)
  - name: support
    description: 병원 입점 문의 (접수 + 운영자 심사)
  - name: operator
    description: 운영자 전용 — 병원 담당자 지정·해제

security: []

paths:
  # =========================================================================
  # auth
  # =========================================================================
  /auth/signup:
    post:
      operationId: signUp
      tags: [auth]
      summary: 회원가입
      description: |
        가입 성공 시 곧바로 로그인 상태가 된다 (액세스/리프레시 토큰을 함께 내려준다).
        현재 화면 동작을 그대로 유지한 것이다 — `docs/features/signup.md`.

        서버가 다듬는 값:
        - `email` — 앞뒤 공백 제거 + 소문자 변환 후 저장·비교
        - `name` — 앞뒤 공백 제거

        현재 프론트엔드가 검사하지 않는 것을 서버가 검사한다: 이메일 형식(RFC 5322 완화형),
        비밀번호 6자 이상. 형식 위반은 `422 VALIDATION_FAILED`, 중복 이메일은 `409 EMAIL_ALREADY_REGISTERED`.
      x-screens: [signup.md]
      x-screen-status: "✅"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
      responses:
        '201':
          description: 가입 완료 + 로그인 상태
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
        '409':
          description: 이미 가입된 이메일
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: EMAIL_ALREADY_REGISTERED
                  message: 이미 가입된 이메일이에요
                  requestId: 01J9X8V0Q3
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/login:
    post:
      operationId: logIn
      tags: [auth]
      summary: 로그인
      description: |
        이메일·비밀번호 중 무엇이 틀렸는지 구분하지 않는다. 두 경우 모두 `401 INVALID_CREDENTIALS` +
        동일 문구(`이메일 또는 비밀번호가 올바르지 않아요`)를 반환한다. 계정 존재 여부가 새는 것을 막기 위한 것이고,
        현재 화면 문구와도 일치한다 — `docs/features/login.md`.
      x-screens: [login.md, mypage.md]
      x-screen-status: "✅"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogInRequest'
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
        '401':
          description: 이메일 또는 비밀번호 불일치
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: INVALID_CREDENTIALS
                  message: 이메일 또는 비밀번호가 올바르지 않아요
                  requestId: 01J9X8V0Q3
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/refresh:
    post:
      operationId: refreshTokens
      tags: [auth]
      summary: 액세스 토큰 재발급
      description: |
        리프레시 토큰을 **본문으로** 받는다. 쿠키를 쓰지 않으므로 Flutter 앱도 같은 흐름을 쓴다.

        회전(rotation)한다: 호출마다 새 리프레시 토큰을 발급하고 기존 것을 폐기한다.
        폐기된 토큰이 다시 오면 그 계정의 리프레시 토큰 계열 전체를 무효화하고 `401 REFRESH_TOKEN_REUSED` 를 반환한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: 재발급 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401':
          description: 리프레시 토큰이 유효하지 않거나 폐기됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      operationId: logOut
      tags: [auth]
      summary: 로그아웃
      description: 전달한 리프레시 토큰을 폐기한다. 액세스 토큰은 만료까지 유효하므로 클라이언트가 즉시 폐기한다.
      x-screens: [mypage.md]
      x-screen-status: "✅"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '204':
          description: 로그아웃 완료
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /auth/me:
    get:
      operationId: getMe
      tags: [auth]
      summary: 내 정보
      description: |
        앱 부팅 시 세션 복원용. `role` 과 `managedHospitalIds` 가 여기서 온다 —
        관리자 화면 진입 가드가 클라이언트 추측이 아니라 이 응답을 근거로 동작해야 한다.

        화면 분기에 그대로 쓸 수 있다:
        - `role=operator` → `/admin/specialists`, `/admin/hospital/new` 노출, `/admin` 은 전 병원
        - `role=hospital_admin` → 위 두 화면 숨김, `/admin` 은 `managedHospitalIds` 만
        - `role=user` → 마이페이지의 `병원 담당자이신가요? 관리자 페이지` 링크 자체를 숨긴다
          (지금은 로그인 여부와 무관하게 노출되어 우연히 들어가는 것이 가능하다)

        `managedHospitalIds` 를 JWT 클레임에 넣지 않는 이유: 담당 병원이 바뀌었을 때 토큰이 만료될 때까지
        낡은 값이 살아 있게 된다. 토큰에는 `sub` 와 `role` 만 넣고, 담당 검사는 서버가 매 요청
        `hospital_admins` 조회로 판단한다. `role` 자체는 승격·해제 시 리프레시 토큰을 폐기해 즉시 반영한다.
      x-screens: [mypage.md, admin-home.md]
      x-screen-status: "✅"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 현재 로그인한 사용자
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /auth/social/{provider}:
    post:
      operationId: logInWithSocialProvider
      tags: [auth]
      summary: 간편 로그인 (구글·카카오)
      description: |
        🚧 **아직 화면이 버튼만 있는 상태다** (`준비중이에요` 알림창). 엔드포인트를 미리 설계해 둔다.

        클라이언트가 provider SDK 로 받은 인가 코드를 넘기고, 서버가 provider 에 교환 요청한 뒤
        이메일 기준으로 기존 계정과 연결하거나 새 계정을 만든다. 같은 이메일이 다른 provider 로
        이미 가입돼 있으면 `409 PROVIDER_MISMATCH` — 계정 탈취 경로를 막기 위해 자동 병합하지 않는다.
      x-screens: [login.md]
      x-screen-status: "🚧"
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, kakao]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [authorizationCode, redirectUri]
              properties:
                authorizationCode:
                  type: string
                redirectUri:
                  type: string
                  format: uri
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
        '409':
          description: 같은 이메일이 다른 방식으로 이미 가입됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: provider 응답 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # =========================================================================
  # procedures
  # =========================================================================
  /procedures:
    get:
      operationId: listProcedures
      tags: [procedures]
      summary: 시술 목록 (13종)
      description: |
        홈의 `시술로 찾기` 격자, 병원 탐색의 시술 칩, 커뮤니티 질문 작성의 시술 선택,
        상담 신청의 희망 시술이 **모두 이 하나의 목록**을 쓴다 (화면 문서 3곳이 명시적으로 같은 목록이라고 못박고 있다).

        정렬 순서는 서버가 고정한다: `implant → orthodontics → laminate → inlay → crown → whitening →
        wisdom-tooth → cavity → gum-disease → splint → snoring-device → tmj → botox`.
        병원 탐색의 `추천`·`기타` 칩은 시술이 아니라 특수 탭이므로 여기 포함되지 않는다.

        거의 변하지 않는 마스터 데이터라 `Cache-Control: public, max-age=3600` + ETag 를 붙인다.
      x-screens: [home.md, explore.md, community-new.md, consult-request.md, tip-detail.md]
      x-screen-status: "✅"
      responses:
        '200':
          description: 시술 목록
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=3600
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Procedure'

  # =========================================================================
  # hospitals
  # =========================================================================
  /hospitals:
    get:
      operationId: listHospitals
      tags: [hospitals]
      summary: 병원 목록 (필터·정렬·페이지네이션)
      description: |
        병원 탐색 화면의 **필터·정렬 전체가 이 엔드포인트 하나로 표현된다.**
        `docs/features/explore.md` 의 모드 2 / 시술 칩 15 / 정렬 3 / 조건 칩 5 / 지도 반경 4 대응:

        | 화면 요소 | 파라미터 |
        |---|---|
        | 모드 `병원` | 이 엔드포인트 (모드 `의사` 는 `GET /doctors`) |
        | 시술 칩 `추천` | `recommended=true` |
        | 시술 칩 13개 | `procedureId=implant` |
        | 시술 칩 `기타` (= 전체) | 아무 것도 안 보냄 |
        | 정렬 `인기순` | `sort=rating` (기본값) |
        | 정렬 `후기순` | `sort=reviewCount` |
        | 정렬 `상담많은순` | `sort=consultCount` |
        | 조건 `상담가능` | `consultAvailable=true` |
        | 조건 `원데이` | `oneDay=true` |
        | 조건 `전문의` | `hasVerifiedSpecialist=true` |
        | 조건 `진료시간` (실제로는 야간상담) | `nightConsult=true` |
        | 조건 `경력` | `minDoctorYearsOfExperience=10` |
        | 지도 반경 500m/1km/3km/5km | `latitude` + `longitude` + `radiusKm` |
        | 보기 `리스트`/`지도`/`가격 비교표` | 순수 클라이언트 표현. 파라미터 없음 |

        **스폰서(광고) 노출 순서는 서버가 계산해서 이미 정렬된 배열로 내려준다.** 클라이언트가 다시 정렬하면 안 된다.
        규칙(`frontend/src/utils/sponsorship.ts` 의 현재 규칙을 그대로 옮긴 것):

        1. `procedureId` 지정 시: 광고 기간 중 && `sponsoredCategories` 에 그 시술 포함 && `rating >= 3.5`
        2. `recommended=true` 시: 광고 기간 중 && `rating >= 3.5`
        3. 위 대상들을 `sponsoredRank` 오름차순으로 맨 앞에 배치, 나머지는 `sort` 기준
        4. **필터가 없을 때(`기타`)는 광고 우선 노출을 적용하지 않는다**

        `광고` 배지 조건과 상단 노출 조건은 다르다. 배지는 `sponsorship.isActive`(기간만),
        상단 노출은 `sponsorship.isPlacementEligible`(기간 + 평점 3.5 + 카테고리). 두 값을 각각 내려준다 —
        클라이언트가 오늘 날짜로 기간을 계산하면 기기 시계가 틀린 사용자에게 광고가 잘못 노출된다.

        `sponsoredRank` / `sponsoredStartDate` / `sponsoredEndDate` 원본 필드도 함께 유지한다
        (기존 `Hospital` 타입 보존). 다만 정렬 판단에는 `sponsorship` 계산 필드를 쓴다.
      x-screens: [explore.md, home.md, mypage.md, tip-detail.md, admin-home.md]
      x-screen-status: "✅ 🟡"
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: procedureId
          in: query
          description: 이 시술을 취급하는 병원만. 병원 탐색의 시술 칩 13개.
          schema:
            $ref: '#/components/schemas/ProcedureId'
        - name: recommended
          in: query
          description: 운영자가 추천으로 표시한 병원만. 시술 칩 `추천`.
          schema:
            type: boolean
        - name: consultAvailable
          in: query
          description: 조건 칩 `상담가능`.
          schema:
            type: boolean
        - name: oneDay
          in: query
          description: 조건 칩 `원데이` (당일 보철 가능).
          schema:
            type: boolean
        - name: hasVerifiedSpecialist
          in: query
          description: |
            조건 칩 `전문의`. 인증 완료(`approved`)이고 `일반의` 가 아닌 전문의가 1명 이상 있는 병원만.
            병원↔전문의 조인이 필요해 클라이언트에서 처리할 수 없다.
          schema:
            type: boolean
        - name: nightConsult
          in: query
          description: 조건 칩 `진료시간`. 이름과 달리 실제로는 야간상담 가능 여부다 (`features.nightConsult`).
          schema:
            type: boolean
        - name: minDoctorYearsOfExperience
          in: query
          description: 조건 칩 `경력`. 이 연차 이상인 전문의가 1명 이상 있는 병원만. 화면은 항상 `10` 을 보낸다.
          schema:
            type: integer
            minimum: 0
        - name: sort
          in: query
          description: |
            전부 내림차순이다. `rating` 이 화면의 `인기순` — 별도 인기 지표가 없어 평점을 쓴다.
          schema:
            type: string
            enum: [rating, reviewCount, consultCount]
            default: rating
        - name: latitude
          in: query
          description: 지도 보기의 기준 위도. `longitude`·`radiusKm` 와 함께 보내야 한다.
          schema:
            type: number
            format: double
        - name: longitude
          in: query
          schema:
            type: number
            format: double
        - name: radiusKm
          in: query
          description: 지도 반경 버튼 (`500m`=0.5, `1km`, `3km` 기본, `5km`).
          schema:
            type: number
            format: double
            enum: [0.5, 1, 3, 5]
        - name: q
          in: query
          description: |
            병원명 부분 일치. 관리자 홈의 병원 목록 검색(🚧)과 검색 화면이 쓴다.
            대소문자를 구분하지 않고 공백을 정규화한다.
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: |
            조건에 맞는 병원. 스폰서 우선 노출이 이미 적용된 순서다.
            `meta.totalItems` 가 화면의 `총 N곳` 이다.
          content:
            application/json:
              schema:
                type: object
                required: [items, meta]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hospital'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      operationId: createHospital
      tags: [hospitals]
      summary: 병원 등록
      description: |
        `/admin/hospital/new` 의 `등록하기`. **`operator` 전용이다.**

        아무나 병원을 만들 수 있으면 안 된다 — 병원 정보는 환자가 시술을 결정하는 근거이므로
        검증 없이 생성되면 안 된다 (`docs/decisions/0001-roles-and-pii.md` 결정 2).
        입점 흐름은 이렇게 된다:

        ```
        POST /partner-inquiries (병원이 문의)
          → GET /partner-inquiries (운영자 심사)
          → POST /hospitals (운영자가 병원 생성)
          → POST /hospitals/{id}/admins (운영자가 담당자 지정)
        ```

        **등록자가 자동으로 담당자가 되는 설계는 폐기했다.** 운영자는 병원을 만들 뿐 담당자가 아니다.
        담당자 지정은 별도 오퍼레이션이며, `adminEmails` 를 함께 보내 한 번에 처리할 수도 있다.

        서버가 정하는 값 (요청으로 넘길 수 없다):
        `id`, `rating=0`, `reviewCount=0`, `consultCount=0`, 광고 관련 필드 전부(`isSponsored=false`,
        `sponsoredCategories=[]`, `sponsoredRank=null`, `sponsoredStartDate=null`, `sponsoredEndDate=null`).

        **`isRecommended`(에디터 추천)는 `operator` 만 설정할 수 있다.** 현재 폼에는 병원 관리자가 직접
        체크할 수 있는 `추천 병원으로 노출 (에디터 추천)` 체크박스가 있는데, 에디터 추천을 병원이
        스스로 켜는 것은 신뢰 문제다. 역할이 셋으로 갈리면서 이 항목의 주인이 명확해졌다 —
        `operator` 요청에서는 받고, `PATCH /hospitals/{id}` 의 `hospital_admin` 요청에서는 거절한다.

        `businessHours` 를 생략하면 서버가 기본 스케줄을 넣는다 (월~금 `09:30 - 18:30`, 토 `09:30 - 14:00`, 일 휴진).
        `thumbnail` 을 생략하면 서버가 기본 이미지 URL 을 넣는다.
      x-screens: [admin-hospital-new.md]
      x-screen-status: "✅"
      x-role: operator
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HospitalCreateRequest'
      responses:
        '201':
          description: 등록된 병원
          headers:
            Location:
              schema:
                type: string
                example: /v1/hospitals/h12
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hospital'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /hospitals/{hospitalId}:
    parameters:
      - $ref: '#/components/parameters/HospitalId'
    get:
      operationId: getHospital
      tags: [hospitals]
      summary: 병원 상세
      description: |
        병원 상세 화면의 본체. 의료진·후기·이벤트는 각각 별도 엔드포인트로 나눴다 —
        `frontend/src/lib/queryKeys.ts` 가 `hospitals.detail(id)` 와 `doctors.byHospital(hospitalId)` 를
        서로 다른 캐시 단위로 두고 있어, 하나의 응답에 합치면 전문의 수정이 병원 캐시까지 깨게 된다.

        - 의료진 → `GET /hospitals/{hospitalId}/doctors`
        - 후기 → `GET /hospitals/{hospitalId}/reviews`
        - 진행중인 이벤트 → `GET /promotions?hospitalId={hospitalId}`
      x-screens: [hospital-detail.md, consult-request.md, doctor-detail.md, events.md, notifications.md]
      x-screen-status: "✅"
      responses:
        '200':
          description: 병원 상세
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hospital'
        '404':
          description: 병원 없음 (화면 문구 `병원 정보를 찾을 수 없어요`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: HOSPITAL_NOT_FOUND
                  message: 병원 정보를 찾을 수 없어요
                  requestId: 01J9X8V0Q3
    patch:
      operationId: updateHospital
      tags: [hospitals]
      summary: 병원 정보 수정
      description: |
        부분 수정. 보낸 필드만 바뀐다.

        **인가:**
        - `hospital_admin` → `managedHospitalIds` 에 `hospitalId` 가 없으면 `403 HOSPITAL_NOT_MANAGED`.
          **지금은 병원 id 만 주소에 바꿔 넣으면 남의 병원을 고칠 수 있다.** 그것을 막는 것이 이 검사다.
        - `operator` → 전 병원.

        `404` 가 아니라 `403` 을 쓰는 이유: **병원은 공개 리소스다.** `GET /hospitals/{id}` 로 누구나
        존재를 확인할 수 있으므로 존재를 숨겨서 얻는 것이 없다. 반면 `403 HOSPITAL_NOT_MANAGED` 는
        "담당 병원이 아니다" 라는 정확한 원인을 알려주어, 담당자가 병원 id 를 잘못 넣은 경우를 구분할 수 있다.
        (비공개 리소스인 상담·입점 문의는 반대로 `404` 를 쓴다 — `docs/api/README.md` §3 참고)

        광고 관련 필드(`isSponsored`, `sponsoredCategories`, `sponsoredRank`, `sponsoredStartDate`,
        `sponsoredEndDate`)와 집계 필드(`rating`, `reviewCount`, `consultCount`)는 누구도 이 엔드포인트로
        바꿀 수 없다. `isRecommended` 는 **`operator` 만** 바꿀 수 있고 `hospital_admin` 요청에서는 거절된다.
        보내면 무시하지 않고 `422 FIELD_NOT_WRITABLE` 로 거절한다 — 조용히 무시하면 관리자 화면이
        "저장했는데 안 바뀐다" 는 상태가 된다 (현재 `대표 이미지 URL` 에서 실제로 겪고 있는 증상이다).
      x-screens: [admin-hospital-edit.md]
      x-screen-status: "✅"
      x-role: [hospital_admin, operator]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HospitalUpdateRequest'
      responses:
        '200':
          description: 수정된 병원
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hospital'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/HospitalNotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /hospitals/{hospitalId}/doctors:
    parameters:
      - $ref: '#/components/parameters/HospitalId'
    get:
      operationId: listHospitalDoctors
      tags: [doctors]
      summary: 병원 소속 전문의 목록
      description: |
        병원 상세의 `전문의 소개`, 병원 카드의 `OO전문의 상주` 배지, 상담 신청의 전문의 지정에 쓰인다.

        인증되지 않은 전문의의 전공은 응답에서 **가려서** 내려간다 (`visibleSpecialty: null`,
        `doctor.projection.ts` 의 `visibleSpecialty()`). 예전에는 클라이언트가
        `getVisibleSpecialtyLabel()` 로 숨겼지만, 원본 `specialty` 가 응답에 실려 있으면 검수 전
        전공이 API 응답을 뜯어보는 누구에게나 보였다 — 규칙 자체를 서버로 옮겼다.
        `certificateUrl` / `rejectionReason` 도 관리자 응답(`DoctorAdminView`)에만 포함된다.

        ★ 이 GET 은 **공개** 응답뿐이다 — 관리자가 미승인·반려 전문의의 원본 `specialty` 나
        `certificateUrl` 을 다시 읽을 방법이 지금 없다(가장 큰 계약 격차, 다음 조각 후보:
        `GET /hospitals/{hospitalId}/doctors?view=admin`). 그 값은 방금 자신이 보낸
        `PUT`/`PATCH`/검수 응답에서만 얻을 수 있고, 병원 폼을 다시 열면 사라진다 —
        `PUT` 의 `DoctorUpsert.specialty` 가 필수라서, 미승인 전공을 가진 전문의가 있는 병원은
        새 전문의를 추가하는 저장에서 막힌다(기존 항목 수정·삭제는 `PATCH`/`DELETE` 라 막히지
        않는다). `docs/features/known-issues.md` 참고.
      x-screens: [hospital-detail.md, explore.md, consult-request.md, doctor-detail.md]
      x-screen-status: "✅"
      security:
        - {}
        - bearerAuth: []
      responses:
        '200':
          description: 소속 전문의. 등록 순서.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Doctor'
        '404':
          $ref: '#/components/responses/HospitalNotFound'
    put:
      operationId: replaceHospitalDoctors
      tags: [doctors]
      summary: 병원 소속 전문의 일괄 교체
      description: |
        관리자 병원 폼의 저장 동작을 그대로 표현한 것이다 — "화면에 남겨둔 전문의 목록이 그대로 정답이 된다".
        `id` 가 있는 항목은 갱신, 없는 항목은 신규(→ `pending`), 목록에서 빠진 항목은 삭제된다.

        **`name` 이 필수(minLength 1)다.** 현재는 이름을 비우고 저장하면 그 전문의가 조용히 삭제되며 되돌릴 수 없다.
        서버가 `422 VALIDATION_FAILED` 로 거절하면 그 사고 경로가 막힌다. 삭제는 목록에서 항목을 빼는 것으로만 가능하다.

        **재검수 규칙 (현재 없는 것을 서버가 넣는다):** 기존 전문의의 `specialty` 또는 `certificateUrl` 이
        바뀌면 `verificationStatus` 가 `pending` 으로 되돌아가고 `rejectionReason` 이 지워진다.
        지금은 승인된 전문의의 전공을 바꿔도 승인이 유지되어, 검수 없이 다른 과의 `전문의` 배지가 노출된다.

        `photo` / `yearsOfExperience` / `career` / `procedureIds` 를 보내지 않으면:
        - 신규 → 서버가 기본값을 채운다 (`procedureIds` 는 전공에서 유도, `일반의` 는 병원 취급 시술 전체)
        - 기존 → 기존 값을 유지한다

        인가: `hospital_admin` 은 담당 병원만 (`403 HOSPITAL_NOT_MANAGED`), `operator` 는 전 병원.
        **`verificationStatus` 는 여기서 바꿀 수 없다** — 검수는 `operator` 전용 오퍼레이션이다.
        담당자가 전문의를 추가·수정하면 `pending` 으로 들어가거나 되돌아갈 뿐이고, 승인은 운영자만 한다.
      x-screens: [admin-hospital-new.md, admin-hospital-edit.md]
      x-screen-status: "✅"
      x-role: [hospital_admin, operator]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [doctors]
              properties:
                doctors:
                  type: array
                  items:
                    $ref: '#/components/schemas/DoctorUpsert'
      responses:
        '200':
          description: 교체 후의 전문의 목록 (관리자 시야 — `certificateUrl` 포함)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoctorAdminView'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/HospitalNotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /hospitals/{hospitalId}/reviews:
    parameters:
      - $ref: '#/components/parameters/HospitalId'
    get:
      operationId: listHospitalReviews
      tags: [hospitals]
      summary: 병원 방문자 후기
      description: |
        병원 상세의 `방문자 후기`. 최신순.

        후기를 **작성하는 엔드포인트는 없다.** 어느 화면에도 후기 작성 기능이 없기 때문이다
        (`docs/features/hospital-detail.md` — "후기를 작성하는 기능은 없습니다. 읽기만 됩니다").
        `rating` / `reviewCount` 가 후기로부터 집계되지 않고 병원 필드에 직접 들어 있는 것도 같은 이유다.
        후기 작성이 생기면 그때 `POST` 와 집계 재계산을 함께 설계해야 한다.
      x-screens: [hospital-detail.md]
      x-screen-status: "✅"
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: procedureId
          in: query
          description: 시술별로 후기를 걸러본다. 현재 화면에는 이 필터가 없다 (🚧 대비).
          schema:
            $ref: '#/components/schemas/ProcedureId'
      responses:
        '200':
          description: 후기 목록
          content:
            application/json:
              schema:
                type: object
                required: [items, meta]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        '404':
          $ref: '#/components/responses/HospitalNotFound'

  /admin/hospitals:
    get:
      operationId: listManagedHospitals
      tags: [hospitals]
      summary: 관리자 홈의 병원 목록
      description: |
        `/admin` 의 병원 목록. **역할에 따라 범위가 다르다:**

        - `hospital_admin` → `managedHospitalIds` 에 걸린 병원만
        - `operator` → 전 병원

        `GET /hospitals` 와 분리한 이유: 현재 관리자 홈은 **등록된 모든 병원**을 보여주고 전부 수정할 수
        있다 (확인된 결함). 공개 목록과 경로를 분리해 두면 "관리자 화면이 공개 목록을 그대로 쓰다가
        스코프를 잃는" 회귀가 구조적으로 불가능해진다.

        응답에 `scope` 를 함께 내려준다. 화면이 "내 병원" 과 "전체" 를 구분해 표시하고,
        `hospital_admin` 의 목록이 0건일 때 "담당 병원이 아직 지정되지 않았어요" 와
        "등록된 병원이 없어요" 를 구분한다 (`scope` 로 갈린다. 예전에는 둘 다 그냥 빈 화면이었다).

        응답 항목은 공개 `Hospital` 과 같지만 광고 현황 표시용 `sponsorship` 계산 필드가 항상 포함된다
        (병원 수정 화면의 `광고 현황 (읽기 전용)` 카드).
      x-screens: [admin-home.md, admin-hospital-edit.md]
      x-screen-status: "✅"
      x-role: [hospital_admin, operator]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: q
          in: query
          description: 병원명 부분 일치. 현재 화면에는 검색이 없다 (🚧 대비).
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: 병원 목록
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                type: object
                required: [items, meta, scope]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hospital'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
                  scope:
                    type: string
                    enum: [managed, all]
                    description: |
                      `managed` = 담당 병원만 (`hospital_admin`), `all` = 전 병원 (`operator`).
                      화면이 빈 목록의 안내 문구를 구분하는 근거다.
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /hospitals/{hospitalId}/admins:
    parameters:
      - $ref: '#/components/parameters/HospitalId'
    get:
      operationId: listHospitalAdmins
      tags: [operator]
      summary: 병원 담당자 목록
      description: |
        그 병원을 담당하는 계정 목록. **`operator` 전용.**

        담당자 본인이 "나 말고 누가 이 병원을 담당하나" 를 보는 화면은 아직 없으므로 `hospital_admin` 에게
        열지 않았다. 다른 담당자의 이메일이 노출되는 것을 피하는 쪽이 기본값으로 안전하다.
      x-screens: []
      x-screen-status: "🚧"
      x-role: operator
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 담당자 목록
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HospitalAdminAssignment'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/HospitalNotFound'
    post:
      operationId: assignHospitalAdmin
      tags: [operator]
      summary: 병원 담당자 지정
      description: |
        **`operator` 전용.** 입점 심사가 끝난 뒤 담당자를 붙이는 오퍼레이션이다.

        **`email` 로 기존 계정을 찾아 승격한다. 운영자가 계정을 새로 만들지 않는다.** 근거:

        1. **운영자가 계정을 만들면 초기 비밀번호를 전달할 방법이 없다.** 이 서비스에는 이메일 발송
           인프라가 없고 비밀번호 찾기·이메일 인증도 없다. 운영자가 평문 비밀번호를 알게 되는 구조는
           지금 고치려는 결함(브라우저 평문 저장)과 같은 종류다.
        2. **병원 담당자도 일반 사용자로 앱을 쓴다.** 개인으로서 상담을 신청할 수 있고, 알림 설계가
           이미 그것을 전제한다 (`audience=user` 는 `hospital_admin` 도 조회한다).
           별도 계정 체계를 만들면 같은 사람이 계정 두 개를 갖게 된다.
        3. **`hospital_admins` 가 M:N 이라 승격은 "행 추가" 다.** 되돌리기가 쉽고 감사도 단순하다.
        4. 계정 생성 엔드포인트를 두면 운영자가 임의 계정을 만들 수 있어 감사 부담이 커진다.

        따라서 흐름은 **병원 담당자가 먼저 일반 회원가입(`POST /auth/signup`) → 운영자가 이메일로 지정**이다.
        해당 이메일의 계정이 없으면 `404 USER_NOT_FOUND` 로 "먼저 가입시켜 달라" 는 신호를 준다.
        이메일 존재 여부가 노출되지만, 이 오퍼레이션은 `operator` 전용이라 열거 위험이 없다.

        **부수효과:**
        1. `hospital_admins` 에 `(userId, hospitalId)` 행 추가 (멱등 — 이미 있으면 `200`)
        2. 대상 계정의 `role` 이 `user` 면 **`hospital_admin` 으로 승격**
        3. 대상 계정의 **리프레시 토큰을 전부 폐기**한다. `role` 이 액세스 토큰 클레임에 있으므로,
           폐기하지 않으면 최대 15분 동안 낡은 `role` 로 동작한다
        4. 감사 로그 기록 (누가·누구를·어느 병원에)

        `role=operator` 인 계정은 지정할 수 없다 (`422 CANNOT_ASSIGN_OPERATOR`) — 운영자가 특정 병원의
        담당자를 겸하면 그 병원 전문의를 스스로 검수할 수 있게 되어 역할 분리가 무너진다.
      x-screens: [partner-inquiry.md]
      x-screen-status: "🚧"
      x-role: operator
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: 이미 가입된 계정의 이메일. 앞뒤 공백 제거 + 소문자 변환 후 조회.
      responses:
        '200':
          description: 지정 완료 (이미 담당자였던 경우도 동일)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HospitalAdminAssignment'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 병원 또는 계정 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                userNotFound:
                  value:
                    error:
                      code: USER_NOT_FOUND
                      message: 그 이메일로 가입된 계정이 없어요. 먼저 회원가입을 안내해주세요
                      requestId: 01J9X8V0Q3
                hospitalNotFound:
                  value:
                    error:
                      code: HOSPITAL_NOT_FOUND
                      message: 병원 정보를 찾을 수 없어요
                      requestId: 01J9X8V0Q3
        '422':
          description: 운영자 계정을 담당자로 지정하려 함
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: CANNOT_ASSIGN_OPERATOR
                  message: 운영자 계정은 병원 담당자로 지정할 수 없어요
                  requestId: 01J9X8V0Q3

  /hospitals/{hospitalId}/admins/{userId}:
    parameters:
      - $ref: '#/components/parameters/HospitalId'
      - name: userId
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: unassignHospitalAdmin
      tags: [operator]
      summary: 병원 담당자 해제
      description: |
        **`operator` 전용.** 멱등이다 (담당자가 아니어도 `204`).

        **부수효과:**
        1. `hospital_admins` 에서 행 삭제
        2. **담당 병원이 하나도 남지 않으면 `role` 을 `user` 로 되돌린다.** 담당 병원 없는
           `hospital_admin` 은 관리자 화면에 들어와 빈 목록만 보게 되는 애매한 상태다
        3. 대상 계정의 리프레시 토큰을 전부 폐기 (지정과 같은 이유)
        4. 감사 로그 기록

        해제해도 그 병원의 상담·알림 데이터는 남는다. 상담의 `statusHistory.changedByName` 처럼
        과거 처리 기록은 감사 대상이라 지우지 않는다.
      x-screens: []
      x-screen-status: "🚧"
      x-role: operator
      security:
        - bearerAuth: []
      responses:
        '204':
          description: 해제 완료
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/HospitalNotFound'

  # =========================================================================
  # doctors
  # =========================================================================
  /doctors:
    get:
      operationId: listDoctors
      tags: [doctors]
      summary: 전문의 목록 (병원 탐색 `의사` 모드)
      description: |
        병원 탐색의 `의사` 모드. **조건 칩과 정렬이 병원 모드와 동일하게 적용되고 대상만 바뀐다** —
        화면 문서가 "선택해둔 시술·정렬·조건 필터는 그대로 유지되고 새 모드에 다시 적용됩니다" 라고 명시한다.

        `의사` 모드에서 조건 칩의 의미 (explore.md 의 표 그대로):
        - `상담가능` → 소속 병원이 상담을 받는 의사 (`consultAvailable`)
        - `원데이` → 소속 병원이 원데이 가능 (`oneDay`)
        - `전문의` → 본인이 인증 완료된 전문의 (`verifiedSpecialist`)
        - `진료시간` → 소속 병원이 야간상담 가능 (`nightConsult`)
        - `경력` → 본인 경력 10년 이상 (`minYearsOfExperience=10`)

        `상담가능`·`원데이`·`진료시간` 은 **소속 병원 속성으로 의사를 거르는** 조건이라 클라이언트에서
        하려면 병원 전체 목록이 필요하다. 서버 필터로 둔다.

        스폰서 우선 노출은 `의사` 모드에 적용되지 않는다 (현재 동작과 동일 — 광고는 병원 단위 상품이다).
      x-screens: [explore.md]
      x-screen-status: "✅"
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: hospitalId
          in: query
          schema:
            type: string
        - name: procedureId
          in: query
          schema:
            $ref: '#/components/schemas/ProcedureId'
        - name: recommended
          in: query
          schema:
            type: boolean
        - name: consultAvailable
          in: query
          description: 소속 병원이 상담을 받는 의사만.
          schema:
            type: boolean
        - name: oneDay
          in: query
          description: 소속 병원이 원데이 가능한 의사만.
          schema:
            type: boolean
        - name: verifiedSpecialist
          in: query
          description: 인증 완료(`approved`)이고 `일반의` 가 아닌 의사만.
          schema:
            type: boolean
        - name: nightConsult
          in: query
          description: 소속 병원이 야간상담 가능한 의사만.
          schema:
            type: boolean
        - name: minYearsOfExperience
          in: query
          schema:
            type: integer
            minimum: 0
        - name: sort
          in: query
          schema:
            type: string
            enum: [rating, reviewCount, consultCount]
            default: rating
        - name: q
          in: query
          description: 전문의 이름 부분 일치.
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: 조건에 맞는 전문의. `meta.totalItems` 가 화면의 `총 N명` 이다.
          content:
            application/json:
              schema:
                type: object
                required: [items, meta]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Doctor'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /doctors/{doctorId}:
    parameters:
      - $ref: '#/components/parameters/DoctorId'
    get:
      operationId: getDoctor
      tags: [doctors]
      summary: 전문의 상세
      description: |
        전문의 상세 화면. 소속 병원 카드는 `GET /hospitals/{hospitalId}` 로 별도 조회한다
        (`hospitalId` 가 응답에 있다).

        **평점 잠금은 클라이언트 표현이 아니라 서버 응답으로 구현한다.** 비로그인 요청에는
        `rating` 이 `null` 로 내려간다. 현재는 반투명 흰 막을 덮는 방식이라 숫자가 뒤에 비쳐 보이고,
        응답을 직접 보면 그냥 노출된다. `reviewCount` 는 잠금 대상이 아니다 (화면이 비로그인에도 `후기 180` 을 보여준다).

        소속 병원이 삭제됐으면 `hospitalId` 는 유지되고 `GET /hospitals/{id}` 가 404 를 준다 —
        화면의 `소속 병원 정보를 찾을 수 없어요` + 하단 `상담 마감` 상태에 대응한다.
      x-screens: [doctor-detail.md]
      x-screen-status: "✅"
      security:
        - {}
        - bearerAuth: []
      responses:
        '200':
          description: 전문의 상세. 비로그인이면 `rating` 이 `null`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doctor'
        '404':
          description: 전문의 없음 (화면 문구 `전문의 정보를 찾을 수 없어요`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: DOCTOR_NOT_FOUND
                  message: 전문의 정보를 찾을 수 없어요
                  requestId: 01J9X8V0Q3
    patch:
      operationId: updateDoctor
      tags: [doctors]
      summary: 전문의 단건 수정
      description: |
        `PUT /hospitals/{hospitalId}/doctors` 의 낱개 버전. 병원 폼 밖에서 한 명만 고칠 때 쓴다.
        재검수 규칙(`specialty`/`certificateUrl` 변경 → `pending` 복귀)이 동일하게 적용된다.
        `verificationStatus` 는 이 엔드포인트로 바꿀 수 없다 (`PUT /doctors/{doctorId}/verification` 전용,
        `operator` 만).

        인가: `hospital_admin` 은 그 전문의의 소속 병원이 담당 병원일 때만 (`403 HOSPITAL_NOT_MANAGED`),
        `operator` 는 전체.
      x-screens: [admin-hospital-edit.md]
      x-screen-status: "✅"
      x-role: [hospital_admin, operator]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoctorUpdateRequest'
      responses:
        '200':
          description: 수정된 전문의
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorAdminView'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/DoctorNotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      operationId: deleteDoctor
      tags: [doctors]
      summary: 전문의 삭제
      description: |
        되돌릴 수 없다. `hospital_admin` 은 담당 병원의 전문의만, `operator` 는 전체.
      x-screens: [admin-hospital-edit.md]
      x-screen-status: "✅"
      x-role: [hospital_admin, operator]
      security:
        - bearerAuth: []
      responses:
        '204':
          description: 삭제 완료
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/DoctorNotFound'

  /doctors/verification-queue:
    get:
      operationId: listVerificationQueue
      tags: [doctors]
      summary: 전문의 인증 검수 목록
      description: |
        > **구현 주의:** 이 경로는 `GET /doctors/{doctorId}` 와 충돌한다. NestJS 는 선언 순서로 매칭하므로
        > 컨트롤러에서 `@Get('verification-queue')` 를 `@Get(':doctorId')` **앞에** 선언해야 한다.
        > 뒤에 두면 `verification-queue` 가 `doctorId` 로 잡혀 `404 DOCTOR_NOT_FOUND` 가 난다.
        > `GET /consult-requests/summary` vs `GET /consult-requests/{consultRequestId}` 도 같은 문제다.

        **`operator` 전용이다.** `/admin/specialists` 는 **모든 병원**의 전문의를 심사하는 화면이다.
        `hospital_admin` 에게 열면 남의 병원 전문의를 심사하게 되고, 자기 병원 전문의를 스스로 승인할 수도
        있다. 역할 분리로 이 구조적 문제가 해소됐다 (`docs/decisions/0001-roles-and-pii.md` 결정 1).
        `hospital_admin` 요청은 `403 FORBIDDEN` 이고, 클라이언트는 `role=operator` 가 아니면
        이 화면 진입 자체를 숨긴다.

        `GET /doctors` 와 분리한 이유 세 가지:

        1. **정렬 규칙이 다르다.** 항상 `대기 → 반려 → 승인`, 같은 상태 안에서는 등록 순. 공개 목록의 평점 정렬과 무관하다.
        2. **응답 필드가 다르다.** `certificateUrl`·`rejectionReason`·`hospitalName` 이 필요하고, 이건 공개 응답에 실려서는 안 된다.
        3. **검수 전 전공을 그대로 보여줘야 한다.** 공개 응답은 미승인 전공을 가리는데(`visibleSpecialty: null`),
           검수 화면은 바로 그 값을 판단해야 한다.

        현재 화면은 `일반의` 도 이 목록에 넣고 승인/반려 버튼을 함께 보여준다. `일반의` 는 검수할 자격증이 없고
        승인/반려가 사용자 화면 표시를 바꾸지도 않는다. 기본값으로 제외하고 `includeGeneralPractitioners=true`
        일 때만 넣는다.
      x-screens: [admin-specialists.md]
      x-screen-status: "✅"
      x-role: operator
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          description: 상태별 필터. 현재 화면에는 없다 (🚧 대비).
          schema:
            $ref: '#/components/schemas/VerificationStatus'
        - name: includeGeneralPractitioners
          in: query
          description: '`일반의` 를 목록에 포함할지. 기본 false.'
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 검수 대상 목록. `대기 → 반려 → 승인` 순.
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                type: object
                required: [items, meta]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/VerificationQueueItem'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /doctors/{doctorId}/verification:
    parameters:
      - $ref: '#/components/parameters/DoctorId'
    put:
      operationId: decideDoctorVerification
      tags: [doctors]
      summary: 전문의 인증 승인·반려
      description: |
        **`operator` 전용이다.** 플랫폼이 자격증을 검증하는 행위이며, 병원 담당자는 신청(전문의 등록)만 하고
        판정에는 관여하지 않는다. 이전 초안에 있던 임시 방편(`403 SELF_VERIFICATION_FORBIDDEN` —
        자기 병원 전문의는 검수 금지)은 **제거했다.** 그 규칙은 역할이 둘뿐일 때의 우회였고, 결과적으로
        "다른 병원 담당자가 남의 병원 전문의를 심사하는" 이상한 구조를 남겼다. `operator` 가 생겨 불필요해졌다.

        **부수효과가 이 엔드포인트의 책임이다.** 결정을 저장하면서 같은 트랜잭션에서 처리한다:

        1. `verificationStatus` 를 `approved` / `rejected` 로 바꾼다
        2. `approved` → `rejectionReason` 을 `null` 로 지운다. `rejected` → `rejectionReason` 을 저장한다 (필수, 1자 이상)
        3. **그 전문의 소속 병원의 담당자 전원에게 `audience=admin` 알림을 만든다**
           (`type=system`, `relatedResource=doctor`, `relatedId=doctorId`).
           지금은 어떤 알림도 생기지 않아 병원이 검수 결과를 알 방법이 없다. 이것이 그 결함의 해결책이다.
           수신자는 `hospital_admins` 에 걸린 계정들이다 — 병원에 담당자가 아직 지정되지 않았다면
           알림은 만들어지지만 수신자가 0명이 된다 (승인 자체는 성공한다).
        4. **검수 기록을 남긴다** — 누가(`operator` 계정), 언제, 어떤 결정을, 어떤 사유로.
           현재는 반려 사유만 남고 승인 시 그것도 지워진다.

        `certificateUrl` 이 없는(미제출) 전문의도 승인할 수 있다 — 현재 동작을 유지한다.
        되돌리기(승인↔반려 재변경)도 허용한다.
      x-screens: [admin-specialists.md]
      x-screen-status: "✅"
      x-role: operator
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationDecisionRequest'
            examples:
              approve:
                summary: 승인
                value:
                  status: approved
              reject:
                summary: 반려
                value:
                  status: rejected
                  rejectionReason: 자격증 이미지가 흐려서 발급기관을 확인할 수 없어요
      responses:
        '200':
          description: 결정이 반영된 전문의
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorAdminView'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          description: '`operator` 가 아님. `hospital_admin` 이 호출한 경우 포함'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: FORBIDDEN
                  message: 이 작업을 수행할 권한이 없어요
                  requestId: 01J9X8V0Q3
        '404':
          $ref: '#/components/responses/DoctorNotFound'
        '422':
          description: '`rejected` 인데 `rejectionReason` 이 없음 등'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # =========================================================================
  # consult-requests
  # =========================================================================
  /consult-requests:
    post:
      operationId: createConsultRequest
      tags: [consult-requests]
      summary: 상담 신청 접수
      description: |
        **서버가 막아야 하는 것 (지금 클라이언트만 막고 있는 것):**

        - `hospital.consultAvailable === false` → `409 CONSULT_CLOSED`.
          병원 상세에서는 버튼이 `상담 마감` 으로 잠기지만 `/consult/:hospitalId` 주소로 직접 들어가면 그대로 접수된다.
        - 로그인 필수. `401` 이면 화면이 로그인으로 보낸다.
        - `phone` 형식 검사. 지금은 `1` 한 글자나 `없음` 도 통과한다.
          `^01[016789]-?\d{3,4}-?\d{4}$` 를 만족해야 하고, 서버가 `010-1234-5678` 형태로 정규화해 저장한다.
        - `procedureId` 가 그 병원이 취급하는 시술인지 (`422 PROCEDURE_NOT_OFFERED`).
        - `doctorId` 가 그 병원 소속인지 (`422 DOCTOR_NOT_AT_HOSPITAL`).

        **`doctorId` 가 전문의 지정 상담을 해결한다.** 병원 상세·전문의 상세의 `전문의 상담신청` 이
        이 값을 채워 보내면 관리자가 어느 전문의를 지목했는지 알 수 있다. 지금은 `남기고 싶은 말` 칸에
        직접 적어야 한다.

        **부수효과:** 접수와 동시에 **그 병원의 담당자 전원**(`hospital_admins` 에 걸린 계정)에게
        `audience=admin` 알림을 만든다 (제목 `새로운 상담 신청`, 내용 `{name}님이 상담을 신청했어요`,
        `relatedResource=consultRequest`, `relatedId` = 상담 id).
        알림 생성은 이 엔드포인트의 책임이고, 별도의 알림 생성 API 는 없다.

        알림 내용에 신청자 이름이 들어가므로 **수신자는 담당자로 한정된다.** `operator` 는 이 알림을 받지 않는다 —
        운영자에게는 이름이 마스킹되어야 하는데 알림 문구에 이름이 박히면 마스킹이 무의미해진다.

        `userId` 는 요청 본문으로 받지 않고 액세스 토큰에서 가져온다. 이것이 사용자 상담 내역 조회와
        계정별 알림이 성립하는 근거다.

        중복 신청은 막지 않는다 (현재 동작 유지). 같은 병원에 여러 번 신청하면 그만큼 따로 접수된다.
      x-screens: [consult-request.md, hospital-detail.md, explore.md, doctor-detail.md]
      x-screen-status: "✅ 🔒"
      x-role: user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultRequestCreateRequest'
            examples:
              hospitalConsult:
                summary: 병원 상담신청
                value:
                  hospitalId: h1
                  procedureId: implant
                  name: 김민준
                  phone: 010-1234-5678
                  preferredTime: 평일 오전
                  message: ''
              doctorConsult:
                summary: 전문의 지정 상담신청
                value:
                  hospitalId: h1
                  doctorId: d1
                  procedureId: implant
                  name: 김민준
                  phone: 010-1234-5678
                  preferredTime: 주말
                  message: 김민준 원장님께 상담받고 싶어요
      responses:
        '201':
          description: 접수 완료 (신청자 시야)
          headers:
            Location:
              schema:
                type: string
                example: /v1/me/consult-requests/cr8
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyConsultRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/HospitalNotFound'
        '409':
          description: 그 병원이 지금 상담을 받지 않음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: CONSULT_CLOSED
                  message: 지금은 이 병원의 상담 신청을 받지 않아요
                  requestId: 01J9X8V0Q3
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      operationId: listConsultRequests
      tags: [consult-requests]
      summary: 상담 목록 (관리자)
      description: |
        `/admin/consultations`. 신청일시 최신순.

        **범위와 개인정보가 역할에 따라 다르다:**

        | 역할 | 보이는 상담 | 이름 | 연락처 | `piiMasked` |
        |---|---|---|---|---|
        | `hospital_admin` | 담당 병원에 들어온 것만 | `박서영` | `010-1234-5678` | `false` |
        | `operator` | 전체 | `박*영` | `010-****-5678` | `true` |

        지금은 모든 병원의 상담이 한 목록에 섞여 나오고, 로그인 검사조차 없어 고객 실명·전화번호가
        주소만 알면 노출된다. 스코프와 마스킹이 이 엔드포인트의 핵심이다.

        운영자에게 목록을 여는 이유: 분쟁·CS 확인을 위해 상담의 **존재와 상태**는 봐야 한다.
        연락처가 필요한 경우는 드물어 마스킹으로 막았다 (`docs/decisions/0001-roles-and-pii.md` 결정 3).

        `Cache-Control: no-store`. 마스킹된 응답조차 캐시에 남으면 안 된다 —
        같은 URL 에 대해 역할별로 다른 본문이 나오므로 공유 캐시가 섞이면 유출이 된다.
        (같은 이유로 `Vary: Authorization` 을 함께 보낸다)
      x-screens: [admin-consultations.md]
      x-screen-status: "🟡"
      x-role: [hospital_admin, operator]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          description: 상태 필터 칩 (`전체` 는 이 파라미터를 보내지 않는 것).
          schema:
            $ref: '#/components/schemas/ConsultStatus'
        - name: hospitalId
          in: query
          description: |
            병원별 필터. 현재 화면에는 없다 (🚧). **`hospital_admins` 가 M:N 이라 한 담당자가 여러 병원을
            담당할 수 있으므로 실질적으로 필요하다.** `hospital_admin` 이 담당 병원 밖의 값을 보내면
            `403 HOSPITAL_NOT_MANAGED` (병원 존재는 공개 정보라 숨기지 않는다).
          schema:
            type: string
        - name: createdFrom
          in: query
          description: 기간 필터 시작 (포함). 현재 화면에는 없다 (🚧).
          schema:
            type: string
            format: date-time
        - name: createdTo
          in: query
          description: 기간 필터 끝 (포함). 현재 화면에는 없다 (🚧).
          schema:
            type: string
            format: date-time
        - name: q
          in: query
          description: 신청자 이름·연락처 부분 일치. 현재 화면에는 없다 (🚧).
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: |
            상담 목록. `hospital_admin` 은 전체 값, `operator` 는 마스킹된 값.
            항목마다 `piiMasked` 가 실려 클라이언트가 "연락처가 가려져 있다" 는 안내를 띄울 수 있다.
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
            Vary:
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                type: object
                required: [items, meta, scope]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConsultRequest'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
                  scope:
                    type: string
                    enum: [managed, all]
                    description: '`managed` = 담당 병원만, `all` = 전체 (`operator`).'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /consult-requests/summary:
    get:
      operationId: getConsultSummary
      tags: [consult-requests]
      summary: 상담 현황 요약 (관리자 홈 숫자 카드)
      description: |
        관리자 홈의 숫자 카드 2개 (`이번 달 신규 상담`, `처리 대기 중인 상담`).

        전용 엔드포인트로 둔 이유:
        1. 지금은 상담 전체를 받아와 클라이언트가 센다 — 숫자 두 개를 보려고 고객 실명·전화번호를 전부 내려받는 셈이다.
        2. "이번 달" 이 **기기 시계**가 아니라 서버의 `Asia/Seoul` 달력 기준이어야 한다.
           `이번 달 신규 상담` 이 항상 0 인 현재 증상은 데이터 문제지만, 시간대 기준이 클라이언트에 있는 것도 함께 고쳐야 한다.
        3. 목록과 캐시 수명이 다르다 (요약은 짧게 캐시 가능, 목록은 `no-store`).

        스코프는 `GET /consult-requests` 와 동일하다 (`hospital_admin` = 담당 병원, `operator` = 전체).
        **개인정보를 담지 않으므로 마스킹 대상이 아니다** — 숫자 두 개뿐이다. 운영자 홈에서도 그대로 쓸 수 있다.
      x-screens: [admin-home.md]
      x-screen-status: "🟡"
      x-role: [hospital_admin, operator]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 요약 숫자
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultSummary'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /consult-requests/{consultRequestId}:
    parameters:
      - $ref: '#/components/parameters/ConsultRequestId'
    get:
      operationId: getConsultRequest
      tags: [consult-requests]
      summary: 상담 상세 (관리자)
      description: |
        `/admin/consultations/:id`. `statusHistory` 와 `memos` 를 포함한다.
        `hospital_admin` 은 전체 PII, `operator` 는 마스킹.

        **담당 병원 밖의 상담이면 `404` 다 (`403` 이 아니다).** 병원과 반대 방향의 판단이며 근거가 다르다:
        상담은 공개 리소스가 아니고 **상담 id 는 고객 개인정보와 1:1로 대응**한다.
        `403` 을 주면 id 를 순차 대입해 "이 id 의 상담이 존재한다" 를 알아낼 수 있고, 그것만으로도
        건수·활동량이 새는 열거(enumeration) 경로가 된다. 존재 자체를 숨긴다.

        **감사 로그: 이 오퍼레이션은 열람 기록을 남긴다.** 마스킹으로 운영자 쪽 노출면을 막았으므로
        남는 노출면은 담당자 쪽이고(`docs/decisions/0001-roles-and-pii.md` 결정 3),
        상담 상세는 실명·전화번호·문의 내용·내부 메모가 한 화면에 모이는 자리다.
        기록 항목: 열람자 계정, 역할, 상담 id, 병원 id, 마스킹 여부, 시각, 요청 IP, `requestId`.
        응답 헤더 `X-Audit-Logged: true` 로 기록됐음을 알린다 (클라이언트 동작에 영향은 없고,
        감사 파이프라인 점검용이다).

        목록(`GET /consult-requests`)에도 실명·전화번호가 실리지만 열람 로그를 남기지 않는다 —
        상담 관리 화면이 목록을 반복 조회해서 로그가 의미 없이 불어난다. **목록은 접근 통계로,
        상세는 건별 열람 기록으로** 다루는 것이 실무적인 타협이다. 목록에서 대량 반출이 우려되면
        `pageSize` 상한(100)과 요청 한도가 1차 방어선이고, 엑셀 내려받기가 생기면 그때는 필수로 남긴다.
      x-screens: [admin-consultation-detail.md, admin-notifications.md]
      x-screen-status: "🟡"
      x-role: [hospital_admin, operator]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 상담 상세
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
            Vary:
              schema:
                type: string
                example: Authorization
            X-Audit-Logged:
              schema:
                type: boolean
              description: 열람 기록이 남았는지. 항상 `true` 다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            상담이 없거나 **담당 병원의 상담이 아님.** 두 경우를 구분하지 않는다 (열거 방지).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: CONSULT_REQUEST_NOT_FOUND
                  message: 상담 정보를 찾을 수 없어요
                  requestId: 01J9X8V0Q3

  /consult-requests/{consultRequestId}/status:
    parameters:
      - $ref: '#/components/parameters/ConsultRequestId'
    patch:
      operationId: updateConsultStatus
      tags: [consult-requests]
      summary: 상담 상태 변경
      description: |
        **부수효과가 이 엔드포인트의 책임이다.** 상태가 실제로 바뀔 때만:

        1. `status` 갱신
        2. `statusHistory` 에 `{ status, changedAt }` 추가
        3. **그 상담을 신청한 사용자에게** `audience=user` 알림 생성
           (제목 `상담 상태 변경`, 내용 `상담 상태가 '{라벨}'(으)로 변경되었어요`, `relatedId` = 상담 id).
           수신자는 상담의 `userId` 다. 지금은 알림이 계정과 무관하게 쌓여서, 관리자가 상태를 바꾸면
           **관리자 자신의 알림함에도** 그 알림이 들어온다. `userId` 로 보내는 것이 그 결함의 해결책이다.
        4. 관리자 홈의 `처리 대기 중인 상담` 값이 함께 달라진다 (`GET /consult-requests/summary` 재조회)

        **같은 상태로 다시 요청하면 아무 부수효과 없이 `200` + 현재 리소스를 반환한다 (no-op).**
        지금은 `예약완료` 인 상담에 `예약완료` 를 다시 누르면 이력이 중복으로 쌓이고 사용자 알림도 또 생긴다.
        목록의 빠른 상태 버튼을 오탭하면 쉽게 발생하는데, 오탭으로 고객에게 중복 알림이 가는 것을 서버가 막는다.
        오류(4xx)로 만들지 않은 이유: 결과 상태는 요청자가 원한 상태와 같으므로 실패로 다룰 이유가 없다.

        `X-Status-Changed: true|false` 응답 헤더로 부수효과가 실제로 일어났는지 알려준다.

        **인가: `hospital_admin` 의 담당 병원 상담만이다. `operator` 는 상태를 바꿀 수 없다 (`403`).**
        상담 처리는 병원이 고객에게 연락하는 일이고, 운영자는 그 진행을 볼 뿐 대신 처리하지 않는다.
        운영자가 상태를 바꾸면 고객에게 "예약완료" 알림이 가는데 실제로 예약한 병원은 모르는 상태가 된다.
        조회(`GET`)와 변경(`PATCH`)의 역할 범위가 다른 것은 의도된 비대칭이다.

        `statusHistory` 에 `changedByName` 으로 처리자를 남긴다. 담당 병원 밖의 상담이면 `404` (상세와 동일).
      x-screens: [admin-consultations.md, admin-consultation-detail.md, notifications.md]
      x-screen-status: "✅"
      x-role: hospital_admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/ConsultStatus'
      responses:
        '200':
          description: |
            변경된 상담. `X-Status-Changed: false` 면 이미 그 상태였고 이력·알림이 추가되지 않았다는 뜻이다.
          headers:
            X-Status-Changed:
              schema:
                type: boolean
            Cache-Control:
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ConsultRequestNotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /consult-requests/{consultRequestId}/memos:
    parameters:
      - $ref: '#/components/parameters/ConsultRequestId'
    post:
      operationId: addConsultMemo
      tags: [consult-requests]
      summary: 내부 공유용 메모 추가
      description: |
        메모는 **신청자에게 절대 내려가지 않는다.** `MyConsultRequest` 에 `memos` 가 없는 것이 그 보장이다.
        지금은 "내부 공유용" 이라고만 적혀 있고 주소를 아는 누구나 읽을 수 있다.

        수정·삭제 엔드포인트는 만들지 않았다 (화면에 그 기능이 없다). `authorId`/`authorName` 을 함께 저장한다 —
        지금은 누가 남긴 메모인지 알 수 없다.

        **인가: `hospital_admin` 의 담당 병원 상담만. `operator` 는 메모를 쓸 수 없다 (`403`).**
        "내부 공유용" 의 내부는 병원이다. 다만 운영자는 `GET` 으로 메모를 **읽을 수 있다** —
        분쟁 시 처리 경과를 확인해야 하고, 메모에는 마스킹 대상 필드가 없다.
        메모에 고객 연락처를 적으면 마스킹을 우회하게 되므로, 화면에 그 안내가 필요하다 (미결 사항).
      x-screens: [admin-consultation-detail.md]
      x-screen-status: "✅"
      x-role: hospital_admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  minLength: 1
                  maxLength: 2000
      responses:
        '201':
          description: 메모가 추가된 상담
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ConsultRequestNotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /me/consult-requests:
    get:
      operationId: listMyConsultRequests
      tags: [consult-requests]
      summary: 내 상담 신청 내역
      description: |
        **지금 존재하지 않는 조회 경로다.** 마이페이지와 로그인 화면이
        `상담 신청 내역을 확인할 수 있어요` 라고 안내하는데, 신청 내용은 관리자 화면에만 나타난다.

        응답은 `MyConsultRequest` 로, 관리자용 `ConsultRequest` 와 **다른 투영(projection)** 이다:
        `memos` 를 담지 않고, 병원 이름·전문의 이름을 함께 내려준다 (신청자는 병원 id 를 모른다).
        같은 저장 구조에서 두 개의 응답 형태가 나오는 것이 의도된 설계다.

        최신순.
      x-screens: [mypage.md, login.md, notifications.md]
      x-screen-status: "🚧"
      x-role: user
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/ConsultStatus'
      responses:
        '200':
          description: 내 상담 신청 목록
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                type: object
                required: [items, meta]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MyConsultRequest'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /me/consult-requests/{consultRequestId}:
    parameters:
      - $ref: '#/components/parameters/ConsultRequestId'
    get:
      operationId: getMyConsultRequest
      tags: [consult-requests]
      summary: 내 상담 신청 상세
      description: |
        사용자 알림함의 `상담 상태 변경` 알림이 지금은 병원 상세로 보낸다. 이 엔드포인트가 생기면
        알림을 눌렀을 때 그 상담 자체로 들어갈 수 있다.

        본인 상담이 아니면 `404` (남의 상담 존재 여부를 흘리지 않는다).
      x-screens: [mypage.md, notifications.md]
      x-screen-status: "🚧"
      x-role: user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 내 상담 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyConsultRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/ConsultRequestNotFound'

  # =========================================================================
  # favorites
  # =========================================================================
  /me/favorites:
    get:
      operationId: listMyFavorites
      tags: [favorites]
      summary: 내 찜 목록
      description: |
        **계정별 찜 목록이다.** 지금은 브라우저 하나에 목록이 하나뿐이라
        A 계정으로 찜 → 로그아웃 → B 계정 로그인 하면 A 의 찜이 B 에게 그대로 보인다.
        토큰 주체로 스코프하는 것이 그 결함의 해결책이다.

        기본 응답은 `hospitalIds` 뿐이다. 마이페이지가 병원 카드를 그리려면 병원 데이터가 필요하지만,
        `?expand=hospital` 로 선택하게 두었다. 하트 표시(찜 여부)만 필요한 화면(병원 상세, 꿀팁 상세)이
        병원 객체를 통째로 다시 받는 것을 피하기 위한 것이다.

        찜한 병원이 삭제되면 그 id 는 응답에서 조용히 빠진다.
      x-screens: [mypage.md, hospital-detail.md, tip-detail.md]
      x-screen-status: "✅ 🔒"
      x-role: user
      security:
        - bearerAuth: []
      parameters:
        - name: expand
          in: query
          description: '`hospital` 을 주면 `hospitals` 배열이 함께 내려간다 (마이페이지 카드 목록용).'
          schema:
            type: string
            enum: [hospital]
      responses:
        '200':
          description: 찜 목록. 최근에 찜한 것이 먼저.
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteList'
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /me/favorites/{hospitalId}:
    parameters:
      - $ref: '#/components/parameters/HospitalId'
    put:
      operationId: addFavorite
      tags: [favorites]
      summary: 찜하기
      description: |
        멱등이다. 이미 찜한 병원에 다시 호출해도 `204` 다.
        `POST /me/favorites` 대신 `PUT /me/favorites/{hospitalId}` 를 쓴 이유가 이 멱등성이다 —
        하트는 오탭이 잦고, 클라이언트가 낙관적 갱신을 하면 같은 요청이 두 번 갈 수 있다.
      x-screens: [hospital-detail.md, tip-detail.md]
      x-screen-status: "✅ 🔒"
      x-role: user
      security:
        - bearerAuth: []
      responses:
        '204':
          description: 찜 완료 (이미 찜한 상태여도 동일)
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/HospitalNotFound'
    delete:
      operationId: removeFavorite
      tags: [favorites]
      summary: 찜 해제
      description: 멱등이다. 찜하지 않은 병원에 호출해도 `204` 다.
      x-screens: [mypage.md, hospital-detail.md, tip-detail.md]
      x-screen-status: "✅ 🔒"
      x-role: user
      security:
        - bearerAuth: []
      responses:
        '204':
          description: 해제 완료
        '401':
          $ref: '#/components/responses/Unauthenticated'

  # =========================================================================
  # notifications
  # =========================================================================
  /notifications:
    get:
      operationId: listNotifications
      tags: [notifications]
      summary: 알림 목록
      description: |
        `audience` 로 사용자용/관리자용을 나눈다. 화면 문서가 두 알림함을 명확히 분리하고 있고
        (`/notifications` vs `/admin/notifications`), 프론트엔드 캐시 키도
        `queryKeys.notifications.byAudience(audience)` 로 나뉘어 있다. 파라미터로 두면 그 캐시 단위와 그대로 맞는다.

        **`audience` 는 역할이 아니라 알림함(mailbox)이다.** 역할은 셋(`user`/`hospital_admin`/`operator`)이지만
        알림함은 둘이다 — 화면이 `/notifications` 와 `/admin/notifications` 두 개뿐이기 때문이다.

        **수신자 스코프:**
        - `audience=user` → 토큰 주체 **본인에게 발송된** 알림만. **세 역할 모두 호출할 수 있다.**
          병원 담당자도 개인으로서 상담을 신청하므로 본인 알림함이 필요하다.
        - `audience=admin` → **`hospital_admin` 또는 `operator` 필수.** 요청자를 수신자로 지정한 알림만.
          `user` 가 호출하면 `403 FORBIDDEN` (관리자 알림 문구에 고객 이름이 들어 있다).

        `hospital_admin` 의 `audience=admin` 목록은 **담당 병원에 들어온 알림**이다. 담당 병원이 여러 개면
        합쳐서 보인다. `operator` 는 현재 어떤 알림도 운영자를 수신자로 지정하지 않으므로 **빈 목록**이 정상이다
        (새 상담 알림과 검수 결과 알림 둘 다 담당자에게만 간다). 운영자용 알림이 필요해지면
        수신자 지정만 추가하면 되고 이 계약은 바뀌지 않는다.

        지금은 로그인하지 않아도 `/notifications` 주소로 알림 목록이 보인다. 이 엔드포인트는 인증을 요구한다.

        최신순. 알림을 생성하는 공개 엔드포인트는 **없다** — 알림은 상담 접수·상태 변경·인증 검수의
        부수효과로만 생긴다. 프론트엔드의 `notifyUser`/`notifyAdmin` 헬퍼는 서버로 이동해 사라진다.
      x-screens: [notifications.md, admin-notifications.md, mypage.md, admin-home.md]
      x-screen-status: "✅ 🟡"
      security:
        - bearerAuth: []
      parameters:
        - name: audience
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/NotificationAudience'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: isRead
          in: query
          description: 읽음/안읽음 필터. 현재 화면에는 없다 (🚧 대비).
          schema:
            type: boolean
        - name: type
          in: query
          description: 종류별 필터. 현재 화면에는 없다 (🚧 대비).
          schema:
            $ref: '#/components/schemas/NotificationType'
      responses:
        '200':
          description: 알림 목록
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                type: object
                required: [items, meta, unreadCount]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppNotification'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
                  unreadCount:
                    type: integer
                    description: 이 `audience` 의 안 읽은 총 개수. 페이지네이션과 무관한 전체 값이다.
                    example: 1
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /notifications/unread-count:
    get:
      operationId: getUnreadNotificationCount
      tags: [notifications]
      summary: 안 읽은 알림 개수
      description: |
        마이페이지 `🔔 알림함` 줄의 빨간 배지, 넓은 화면 상단 `🔔`, 관리자 홈의 종 배지가 이 값을 쓴다.
        세 곳이 같은 숫자를 보여야 한다고 화면 문서가 명시한다.

        목록과 분리한 이유: 배지는 거의 모든 화면에서 필요하고, 그때마다 알림 목록 전체를 받아오는 것은 낭비다.
        관리자 알림 내용에는 고객 이름이 들어 있어서(`김민준님이 상담을 신청했어요`) 배지 하나 때문에
        개인정보를 받아오는 것도 피해야 한다.
      x-screens: [mypage.md, admin-home.md, notifications.md, admin-notifications.md]
      x-screen-status: "✅"
      security:
        - bearerAuth: []
      parameters:
        - name: audience
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/NotificationAudience'
      responses:
        '200':
          description: 안 읽은 개수
          content:
            application/json:
              schema:
                type: object
                required: [audience, unreadCount]
                properties:
                  audience:
                    $ref: '#/components/schemas/NotificationAudience'
                  unreadCount:
                    type: integer
                    example: 2
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /notifications/{notificationId}/read:
    parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: markNotificationAsRead
      tags: [notifications]
      summary: 알림 하나 읽음 처리
      description: |
        멱등이다. 이미 읽은 알림에 다시 호출해도 `200` 이고 상태는 그대로다.
        읽음을 되돌리는(안 읽음으로 바꾸는) 엔드포인트는 없다 — 화면에도 그 기능이 없다.
        본인/본인 관리 병원에게 온 알림이 아니면 `404`.
      x-screens: [notifications.md, admin-notifications.md]
      x-screen-status: "✅"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 읽음 처리된 알림
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNotification'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          description: 알림 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notifications/read-all:
    post:
      operationId: markAllNotificationsAsRead
      tags: [notifications]
      summary: 모두 읽음
      description: |
        `audience` 를 **필수**로 받는다. `모두 읽음` 은 사용자 알림만, 또는 관리자 알림만 처리해야 하고
        반대쪽 알림함의 안 읽은 표시는 그대로 남아야 한다 (화면 문서가 양쪽 모두 명시).
        `audience` 를 생략하면 그 규칙이 우연히 깨질 수 있으므로 필수로 둔다.
      x-screens: [notifications.md, admin-notifications.md]
      x-screen-status: "✅"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [audience]
              properties:
                audience:
                  $ref: '#/components/schemas/NotificationAudience'
      responses:
        '200':
          description: 처리 결과
          content:
            application/json:
              schema:
                type: object
                required: [audience, markedCount, unreadCount]
                properties:
                  audience:
                    $ref: '#/components/schemas/NotificationAudience'
                  markedCount:
                    type: integer
                    description: 이번 호출로 읽음이 된 개수
                    example: 2
                  unreadCount:
                    type: integer
                    description: 처리 후 남은 안 읽은 개수. 항상 0 이다.
                    example: 0
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  # =========================================================================
  # community
  # =========================================================================
  /community/posts:
    get:
      operationId: listCommunityPosts
      tags: [community]
      summary: 커뮤니티 질문 목록
      description: |
        최신순. 목록 카드에 `답변 N`·`조회 N` 이 필요하므로 `answerCount` 와 `viewCount` 를 함께 내려주고,
        `answers` 배열 자체는 목록에서 제외한다 (목록 카드가 답변 본문을 쓰지 않는다).

        `procedureId` 필터·`sort`·`q` 는 현재 화면에 없다 (🚧 — "검색창, 필터 칩, 정렬 버튼이 하나도 없습니다").
        앞으로 만들 것이라 파라미터를 함께 설계해 두었고, 지금 프론트엔드는 보내지 않는다.

        페이지네이션은 처음부터 넣는다. 현재는 "글이 많아지면 한 번에 다 그려집니다" 상태다.
      x-screens: [community.md]
      x-screen-status: "🟡"
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: procedureId
          in: query
          description: 시술별 필터 (🚧 대비).
          schema:
            $ref: '#/components/schemas/ProcedureId'
        - name: sort
          in: query
          description: '`createdAt` = 최신순(기본, 현재 동작). 나머지는 🚧 대비.'
          schema:
            type: string
            enum: [createdAt, viewCount, answerCount]
            default: createdAt
        - name: q
          in: query
          description: 제목·본문 부분 일치 (🚧 대비).
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: 질문 목록
          content:
            application/json:
              schema:
                type: object
                required: [items, meta]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/QAPostSummary'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
    post:
      operationId: createCommunityPost
      tags: [community]
      summary: 질문 등록
      description: |
        **로그인을 요구한다.** 지금은 비로그인으로도 등록되고 작성자가 항상 `익명` 으로 저장되어,
        "내가 쓴 질문" 을 골라낼 방법이 없다.

        `authorName` 을 요청으로 받지 않는다. 서버가 토큰 주체에서 정한다:
        - `isAnonymous: true` (기본값) → `authorName` 을 `익명` 으로 저장하고 `authorId` 는 내부에만 남긴다.
          현재 화면 표시와 동일하되, 본인 글 식별과 신고 대응이 가능해진다.
        - `isAnonymous: false` → 계정 이름을 표시한다.

        기본값을 `true` 로 둔 이유: 지금 올라간 글이 모두 `익명` 이라, 기본을 실명으로 바꾸면
        같은 목록에서 표시 규칙이 갑자기 갈린다. 어느 쪽을 기본으로 할지는 제품 판단이며
        `docs/api/README.md` 의 미결 사항에 올려 두었다.

        `createdAt` 은 날짜만 저장한다 (`YYYY-MM-DD`). 기존 동작·기존 데이터와 맞추기 위한 것이고,
        시각까지 저장해야 한다면 마이그레이션이 필요하다.
      x-screens: [community-new.md, community.md]
      x-screen-status: "✅"
      x-role: user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QAPostCreateRequest'
      responses:
        '201':
          description: 등록된 질문
          headers:
            Location:
              schema:
                type: string
                example: /v1/community/posts/q5
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QAPost'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /community/posts/{postId}:
    parameters:
      - $ref: '#/components/parameters/PostId'
    get:
      operationId: getCommunityPost
      tags: [community]
      summary: 질문 상세 (답변 포함)
      description: |
        답변은 이 응답에 포함된다 (`answers`). 별도 엔드포인트로 나누지 않은 이유:
        답변 수가 한 자릿수이고, 상세 화면이 항상 본문과 함께 그린다. 프론트엔드의
        `queryKeys.communityPosts.detail(id)` 캐시 단위와도 일치한다.

        **조회수는 이 GET 이 올리지 않는다.** `POST /community/posts/{postId}/views` 를 따로 호출해야 한다.
        GET 이 상태를 바꾸면 캐시·프리페치·재시도가 모두 조회수를 부풀린다.
      x-screens: [community-post.md]
      x-screen-status: "🟡"
      responses:
        '200':
          description: 질문 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QAPost'
        '404':
          description: 질문 없음 (화면 문구 `질문을 찾을 수 없어요`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: POST_NOT_FOUND
                  message: 질문을 찾을 수 없어요
                  requestId: 01J9X8V0Q3

  /community/posts/{postId}/views:
    parameters:
      - $ref: '#/components/parameters/PostId'
    post:
      operationId: recordPostView
      tags: [community]
      summary: 조회수 집계
      description: |
        인증이 필요하지 않다 (비로그인도 글을 읽는다).

        **중복 집계 방침이 현재 동작과 다르다.** 지금은 상세 화면을 열 때마다 무조건 1 오르고,
        같은 사람이 다시 봐도 계속 증가해서 실제 조회 수와 무관한 값이 된다.
        서버는 (로그인 사용자 id 또는 요청자 지문) × 글 id 조합으로 **24시간 중복을 제거**한다.
        중복이면 `viewCounted: false` 와 현재 값만 반환한다.

        동작 변경이므로 `docs/api/README.md` 의 미결 사항에 올려 두었다.
      x-screens: [community-post.md, community.md]
      x-screen-status: "✅"
      security:
        - {}
        - bearerAuth: []
      responses:
        '200':
          description: 집계 결과
          content:
            application/json:
              schema:
                type: object
                required: [postId, viewCount, viewCounted]
                properties:
                  postId:
                    type: string
                  viewCount:
                    type: integer
                    example: 313
                  viewCounted:
                    type: boolean
                    description: 이번 호출로 실제로 1 올랐는지. 24시간 내 중복이면 false.
        '404':
          $ref: '#/components/responses/PostNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /community/posts/{postId}/answers:
    parameters:
      - $ref: '#/components/parameters/PostId'
    post:
      operationId: createCommunityAnswer
      tags: [community]
      summary: 답변 작성
      description: |
        **지금 앱 어디에도 답변을 쓸 화면이 없다.** 답변은 샘플 데이터에만 있고, 새로 쓴 질문은
        영구히 `아직 답변이 없어요` 로 남는다. 이 엔드포인트가 그 결함의 해결책이다.

        **`isDentist` 를 요청으로 받지 않는다.** 서버가 작성자의 인증 상태에서 유도한다 —
        작성자가 어느 병원의 `verificationStatus=approved` 전문의로 연결된 계정이면 `true`.
        `치과의사 답변` 배지는 신뢰 표시라서 클라이언트가 정할 수 있으면 안 된다.
        지금은 배지가 샘플 데이터의 플래그일 뿐 실제 인증과 연결되어 있지 않다.

        `authorName` 도 서버가 정한다. 답변은 익명을 허용하지 않는다 — 의료 정보에 답하는 주체는
        드러나야 한다는 판단이며, 이것도 미결 사항에 올려 두었다.
      x-screens: [community-post.md, community.md]
      x-screen-status: "🚧"
      x-role: user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  minLength: 1
                  maxLength: 5000
      responses:
        '201':
          description: 작성된 답변
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QAAnswer'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/PostNotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  # =========================================================================
  # content
  # =========================================================================
  /guides:
    get:
      operationId: listGuides
      tags: [content]
      summary: 시술 꿀팁 목록
      description: |
        홈의 `이런 꿀팁 어때요?` 영역 (8건, 좌우 스크롤). 이 영역에는 `전체보기` 가 없어서
        현재 화면 기준으로는 전량 조회 하나로 충분하지만, 편집 콘텐츠가 늘어날 것이므로 페이지네이션을 둔다.

        목록에는 본문(`content`)을 담지 않는다. 홈 카드가 쓰지 않는 긴 텍스트다.
      x-screens: [home.md, tip-detail.md]
      x-screen-status: "🟡"
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: procedureId
          in: query
          schema:
            $ref: '#/components/schemas/ProcedureId'
      responses:
        '200':
          description: 꿀팁 목록
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                type: object
                required: [items, meta]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/GuideSummary'
                  meta:
                    $ref: '#/components/schemas/PageMeta'

  /guides/{guideId}:
    parameters:
      - name: guideId
        in: path
        required: true
        schema:
          type: string
        example: g1
    get:
      operationId: getGuide
      tags: [content]
      summary: 시술 꿀팁 상세
      description: |
        `content` 는 빈 줄(`\n\n`)로 문단을 나눈 평문이다. 제목·목록·표·이미지 서식은 지원하지 않는다 —
        화면이 문단 단위로만 그린다.

        `relatedHospitalIds` 는 id 배열이고, 카드에 필요한 병원 데이터는 `GET /hospitals/{id}` 로 받는다.
        병원 객체를 여기 임베드하면 병원 정보가 바뀔 때 꿀팁 캐시까지 깨야 한다.
        연결된 병원이 삭제됐으면 그 id 는 응답에서 빠진다 (화면의 "그 카드만 조용히 빠집니다" 와 동일).

        꿀팁을 쓰거나 고치는 엔드포인트는 없다. 화면에도, 관리자 화면에도 그 기능이 없다.
      x-screens: [tip-detail.md]
      x-screen-status: "🟡"
      responses:
        '200':
          description: 꿀팁 상세
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuideContent'
        '404':
          description: 꿀팁 없음 (화면 문구 `꿀팁 정보를 찾을 수 없어요`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: GUIDE_NOT_FOUND
                  message: 꿀팁 정보를 찾을 수 없어요
                  requestId: 01J9X8V0Q3

  /promotions:
    get:
      operationId: listPromotions
      tags: [content]
      summary: 이벤트(할인) 목록
      description: |
        네 화면이 같은 데이터를 쓴다: 홈의 `지금 진행중인 이벤트`, 이벤트 목록 화면,
        병원 카드의 `🔥` 배지·할인가(홈·탐색·찜 목록), 병원 상세의 `진행중인 이벤트` 영역.

        `hospitalId` 로 걸러 병원 상세용 단건 조회를 할 수 있고, 파라미터 없이 부르면 전량이 온다
        (카드 배지용으로 한 번 받아 두는 용도).

        **할인율은 서버가 계산해 `discountRate` 로 내려준다.** 지금은 화면마다 원가·할인가로 다시 계산한다.
        네 화면이 같은 숫자를 보여야 하므로 계산을 한 곳에 둔다.

        `startsAt`/`endsAt` 을 `nullable` 로 넣어 두었다. **현재 데이터에는 기간 정보가 아예 없다** —
        이벤트 화면이 `기간 한정 할인 혜택을 확인해보세요` 라고 안내하는데 남은 기간·마감일이 표시되지 않는
        원인이다. 기간이 채워지면 `activeOnly=true` 로 진행중인 것만 받을 수 있다.
      x-screens: [home.md, events.md, hospital-detail.md, explore.md, mypage.md]
      x-screen-status: "🟡"
      parameters:
        - name: hospitalId
          in: query
          schema:
            type: string
        - name: procedureId
          in: query
          schema:
            $ref: '#/components/schemas/ProcedureId'
        - name: activeOnly
          in: query
          description: |
            기간 안에 있는 이벤트만. `startsAt`/`endsAt` 이 둘 다 `null` 인 이벤트는 "기간 무제한" 으로 보아 포함된다.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: |
            이벤트 목록. **한 병원에 이벤트가 여러 개일 수 있다.** 병원 카드는 하나만 붙이는데
            현재 샘플에 겹친 경우가 없어 규칙이 정해지지 않았다 (`docs/features/events.md` 의 "확인 필요").
            서버는 병원별로 `startsAt` 최신순 → `id` 순으로 정렬해 첫 번째가 대표가 되도록 안정적인 순서를 보장한다.
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Promotion'

  /legal-documents/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          enum: [terms, privacy, location, about]
    get:
      operationId: getLegalDocument
      tags: [content]
      summary: 약관·정책·소개 문서
      description: |
        🚧 **네 화면 모두 지금 `준비중입니다` 한 줄뿐이고, 약관 전문이 이 저장소 어디에도 없다.**

        서버에서 내려주는 것으로 설계한 이유: 약관은 개정 이력과 시행일이 있어야 하고,
        회원가입 시 "어떤 버전에 동의했는지" 를 기록하려면 버전이 서버에 있어야 한다.
        클라이언트 정적 파일로 두면 앱 배포와 약관 개정이 묶인다 (Flutter 앱이 붙으면 더 심해진다).

        `content` 는 마크다운이다. 회원가입 동의 절차 자체는 아직 없다 — 미결 사항에 올려 두었다.
      x-screens: [legal-terms.md, legal-privacy.md, legal-location.md, about.md, home.md]
      x-screen-status: "🚧"
      responses:
        '200':
          description: 문서
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalDocument'
        '404':
          description: 아직 등록되지 않은 문서
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /partner-inquiries:
    post:
      operationId: createPartnerInquiry
      tags: [support]
      summary: 병원 입점 문의 접수
      description: |
        🚧 **화면에 입력칸도 제출 버튼도 없다** (`문의 폼은 준비중입니다`). 이 엔드포인트가 그 폼의 상대편이다.

        인증이 필요하지 않다 (아직 계정이 없는 병원이 문의한다). 그래서 스팸에 노출되므로
        IP 당 분당 3회로 제한하고 `429` 를 반환한다.

        **이것이 병원 입점 흐름의 시작점이다** (`docs/decisions/0001-roles-and-pii.md` 결정 2):

        ```
        POST /partner-inquiries        (병원이 문의)
          → GET /partner-inquiries     (운영자가 목록 확인)
          → PATCH /partner-inquiries/{id}  (심사 결과 기록)
          → POST /hospitals            (운영자가 병원 생성)
          → POST /hospitals/{id}/admins  (운영자가 담당자 지정)
        ```

        접수 응답에 `id` 를 주지만 **제출자가 진행 상황을 조회할 경로는 없다.** 문의자는 계정이 없어
        인증할 수단이 없고, `id` 만으로 조회를 열면 남의 문의(병원명·담당자명·연락처)를 열거할 수 있다.
        진행 안내는 운영자가 별도 수단(전화·메일)으로 한다 — 미결 사항이다.
      x-screens: [partner-inquiry.md, home.md]
      x-screen-status: "🚧"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerInquiryCreateRequest'
      responses:
        '202':
          description: 접수됨
          content:
            application/json:
              schema:
                type: object
                required: [id, receivedAt]
                properties:
                  id:
                    type: string
                  receivedAt:
                    type: string
                    format: date-time
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      operationId: listPartnerInquiries
      tags: [support]
      summary: 입점 문의 목록 (운영자 심사)
      description: |
        **`operator` 전용.** 초안에서 "제출된 문의를 어디서 볼 것인가" 를 미결로 남겼던 것의 답이다.
        입점 심사가 병원 생성의 전제가 되면서 조회 경로가 필수가 됐다.

        문의에는 병원명·담당자 실명·연락처가 들어 있다. 상담 신청자 PII 와 같은 급으로 다룬다:
        `Cache-Control: no-store`, `operator` 전용, 열람 로그 대상.

        접수 최신순. 대응 화면은 아직 없다 (🚧) — 운영자 콘솔이 필요하다.
      x-screens: [partner-inquiry.md]
      x-screen-status: "🚧"
      x-role: operator
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/PartnerInquiryStatus'
      responses:
        '200':
          description: 문의 목록
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                type: object
                required: [items, meta]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartnerInquiry'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /partner-inquiries/{inquiryId}:
    parameters:
      - name: inquiryId
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getPartnerInquiry
      tags: [support]
      summary: 입점 문의 상세
      description: |
        **`operator` 전용.** 열람 로그 대상 (담당자 실명·연락처를 담는다).
      x-screens: [partner-inquiry.md]
      x-screen-status: "🚧"
      x-role: operator
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 문의 상세
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
            X-Audit-Logged:
              schema:
                type: boolean
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerInquiry'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/PartnerInquiryNotFound'
    patch:
      operationId: reviewPartnerInquiry
      tags: [support]
      summary: 입점 문의 심사 결과 기록
      description: |
        **`operator` 전용.** 심사 진행 상태와 메모를 남긴다.

        상태 전이: `received → reviewing → approved | rejected`.
        `approved`/`rejected` 에서 되돌아갈 수 없다 (`422 INVALID_INQUIRY_STATUS_TRANSITION`) —
        심사 결과가 왔다 갔다 하면 감사 기록의 의미가 없어진다.

        **`approved` 로 바꾸는 것이 병원을 만들지는 않는다.** 병원 생성(`POST /hospitals`)은 별도 오퍼레이션이다.
        문의 본문의 항목(병원명·지역만)으로는 병원 등록 필수 항목(주소·좌표·가격대·취급 시술)을 채울 수 없어서,
        승인이 곧 생성이 되게 만들면 반쪽짜리 병원 레코드가 생긴다.
        대신 `linkedHospitalId` 를 기록해 문의와 생성된 병원을 잇는다.

        `rejected` 는 `reviewNote` 가 필수다 (1자 이상). 사유 없는 반려를 남기지 않게 한다 —
        전문의 검수의 `rejectionReason` 과 같은 규칙이다.
      x-screens: [partner-inquiry.md]
      x-screen-status: "🚧"
      x-role: operator
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/PartnerInquiryStatus'
                reviewNote:
                  type: string
                  maxLength: 1000
                  description: '`status=rejected` 일 때 필수.'
                linkedHospitalId:
                  type: string
                  description: 이 문의로 만들어진 병원 id. `approved` 이후 연결용.
      responses:
        '200':
          description: 갱신된 문의
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerInquiry'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/PartnerInquiryNotFound'
        '422':
          description: 허용되지 않는 상태 전이 또는 `reviewNote` 누락
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: INVALID_INQUIRY_STATUS_TRANSITION
                  message: 이미 심사가 끝난 문의예요
                  requestId: 01J9X8V0Q3

  # =========================================================================
  # search
  # =========================================================================
  /search:
    get:
      operationId: search
      tags: [search]
      summary: 통합 검색 (결과 목록)
      description: |
        시술·병원·전문의를 한 번에 찾아 **종류별로 묶어** 반환한다.

        현재 검색 화면은 결과 목록을 만들지 않고 일치하는 하나로 이동시킨다. 그 동작은
        `GET /search/resolve` 가 담당한다. 이 엔드포인트는 "여러 결과를 나란히 보여주는 검색 결과 화면이
        필요하면 새로 만들어야 합니다" 라고 화면 문서가 적어 둔 그 화면을 위한 것이다.
        지금 프론트엔드는 이걸 호출하지 않아도 된다.

        매칭 규칙은 `resolve` 와 동일하다 (아래 참고).
      x-screens: [search.md]
      x-screen-status: "🚧"
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - name: type
          in: query
          description: 특정 종류만 받고 싶을 때. 생략하면 세 종류 모두.
          schema:
            type: string
            enum: [procedure, hospital, doctor]
        - name: limit
          in: query
          description: 종류별 최대 개수.
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: 종류별 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /search/resolve:
    get:
      operationId: resolveSearch
      tags: [search]
      summary: 검색어를 이동 대상 하나로 해석
      description: |
        **현재 검색 화면의 동작을 그대로 서버로 옮긴 것이다.** 입력한 글자와 맞는 것 하나를 찾아
        어디로 보낼지 알려준다.

        우선순위 (먼저 맞으면 멈춘다):
        1. **시술 이름** — 병원 탐색으로 (`kind=procedure`, 그 시술 탭 선택 상태)
        2. **병원 이름** — 그 병원 상세로 (`kind=hospital`)
        3. **전문의 이름** — `kind=doctor`

        매칭 방식도 현재와 같다: 입력한 글자가 이름 **안에 포함**되어야 한다
        (`임플` → `임플란트` ✅, `임플란트 가격` ❌). 전문의만 예외로, 이름 뒤에 직함이 붙은 경우
        (`김민준 원장`)도 찾는다.

        같은 글자가 여러 곳에 걸리면 시술이 이긴다 — `라미네이트` 는 시술과 병원명
        (`더화이트 라미네이트클리닉`)에 모두 있지만 병원 탐색으로 간다.

        **현재 동작과 다르게 만든 한 가지:** 전문의 매칭 결과가 `kind=doctor` + `doctorId` 다.
        지금 화면은 전문의를 찾고도 소속 병원 상세로 보낸다 — 전문의 상세 화면(`/doctor/:id`)이 있는데도
        쓰지 않는 확인된 결함이다. 서버는 전문의를 가리키고, 어디로 보낼지는 클라이언트가 정한다.
        `hospitalId` 도 함께 주므로 현재 동작(병원으로 보내기)을 유지하는 것도 가능하다.

        일치하는 것이 없으면 `200` + `target: null` 이다. 404 가 아닌 이유: "검색 결과가 없다" 는
        정상적인 검색 결과이고, 화면은 회색 안내 상자를 보여줄 뿐 에러 처리를 하지 않는다.
      x-screens: [search.md, home.md]
      x-screen-status: "✅ 🟡"
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
      responses:
        '200':
          description: |
            해석 결과. `target` 이 `null` 이면 화면이
            `"OO"에 대한 검색 결과가 없어요. 아래 인기 검색어를 살펴보세요` 를 보여준다.
          content:
            application/json:
              schema:
                type: object
                required: [query, target]
                properties:
                  query:
                    type: string
                  target:
                    oneOf:
                      - $ref: '#/components/schemas/SearchTarget'
                      - type: 'null'
              examples:
                procedure:
                  summary: 시술이 먼저 맞은 경우
                  value:
                    query: 임플
                    target:
                      kind: procedure
                      procedureId: implant
                      label: 임플란트
                hospital:
                  summary: 병원 이름
                  value:
                    query: 더화이트
                    target:
                      kind: hospital
                      hospitalId: h6
                      label: 더화이트 라미네이트클리닉
                doctor:
                  summary: 전문의 이름 + 직함
                  value:
                    query: 김민준 원장
                    target:
                      kind: doctor
                      doctorId: d1
                      hospitalId: h1
                      label: 김민준
                none:
                  summary: 결과 없음
                  value:
                    query: 존재하지않는이름
                    target: null
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /search/trending:
    get:
      operationId: getTrendingSearches
      tags: [search]
      summary: 인기 검색어
      description: |
        검색 화면의 `전체`/`시술`/`병원`/`의사` 탭 순위 목록, 그리고 홈 화면의 인기 검색어 알약
        (= `전체` 탭 상위 6개. 화면 문서가 같은 목록이라고 명시한다).

        항목마다 `target` 이 붙는다. 검색창을 거치지 않고 곧바로 정해진 화면으로 이동하는
        현재 동작을 유지하기 위한 것이다. `target` 이 없으면 문구로 다시 검색해야 하고,
        문구가 이름과 안 맞으면 결과가 없는 상태가 된다 (지금 추천 검색어 알약에서 실제로 벌어지는 일이다).

        `calculatedAt` 을 함께 내려준다. 지금 화면의 `14:32 기준` 은 **집계 시각이 아니라 화면을 연 시각**이라
        언제 봐도 같은 순위인데도 시각만 계속 바뀐다. 서버가 실제 집계 시각을 주면 그 문구가 정직해진다.

        `trend`(순위 변동)도 서버가 계산한다. 지금은 코드에 적어둔 고정 값이다.
      x-screens: [search.md, home.md]
      x-screen-status: "🟡"
      parameters:
        - name: tab
          in: query
          description: 생략하면 `all`.
          schema:
            type: string
            enum: [all, procedure, hospital, doctor]
            default: all
        - name: limit
          in: query
          description: |
            현재 화면의 탭별 개수는 `전체` 10 · `시술` 10 · `병원` 6 · `의사` 8 이다.
            개수를 클라이언트가 정하게 두어 홈(6개)이 같은 엔드포인트를 쓸 수 있게 한다.
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        '200':
          description: 순위 목록
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=300
          content:
            application/json:
              schema:
                type: object
                required: [tab, calculatedAt, items]
                properties:
                  tab:
[...]
